@import "nullstyle";
@import "variables";

body{
   font-family: Exo2;
   font-weight: 400;
   font-size: 20px;
   background-color: $color_background;
   color: $color_text;
   line-height: 100%;
}

.body_overflow{
   overflow: hidden;
}

a{
   font-family: Exo2;
}

.wrapper{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
   position: relative;
}

.wrapper_content{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
   position: relative;
   @media (max-width:576px){
      padding: 0 5px;
   }
}


//////////////////HEADER/////////////////////////


.header{
   background-color: $color_background;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 5;
}

.header__about{
   display: flex;
   align-items: center;
}

.header__about div + div{
   margin-left: 20px;
}

.header__about a{
   font-weight: 500;
   font-size: 16px;
   color: $color_text;
}

.header__schedule{
   font-weight: 500;
   font-size: 16px;
   color: $grey_text;
}

.header__inputs{
   margin-left: 58px;
   display: flex;
   align-items: center;
   justify-content: right;
}

.header__search{
   height: 42px;
   width: 107px;
   border-bottom: 1px solid #C8CACB;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-right: 8px;
}

.header__search_input{
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #838688;
   width: 100%;
   padding: 5px 5px 5px 36px;
   margin-left: 12px;
   height: 20px;
   background: url('../images/dest/icons/search.svg') no-repeat 3px 1px;
   background-size: auto 100%;
   transition: padding 0.2s ease-out;
   &:focus{
      padding: 0;
      background: none;
      margin-left: 0px;
   }
}

.header__menu{
   display: flex;
   align-items: center;
   justify-content: right;
}

.header__click{
   cursor: pointer;
   width: 48px;
   height: 48px;
   object-fit: scale-down;
}

.header__button{
   background-color: #2A5275;
   color: #FFF;
   border-radius: 4px;
   padding: 0 26px;
   height: 48px;
   font-weight: 500;
   font-size: 16px;
   line-height: 48px;
   cursor: pointer;
   transition: background-color 0.3s ease-out;
   &:hover{
      background-color: #0E1821;
   }
}

.header__enter{
   margin-left: 20px;
}

.menu-profile{
   width: 280px;
   border: 1px solid #EAEAF0;
   background-color: #fff;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   position:absolute;
   left: auto;
   right: 20px;
   transform: translate(0, -100%);
   transition:none;
   z-index: 4;
}

.menu-profile_active{
   transform: translate(0, 0%);
   transition: transform 0.3s ease-out;
}

.menu-profile ul{
   width: 100%;
}

.menu-profile ul li{
   height: 54px;
   transition: background-color 0.2s ease-out;
   cursor: pointer;
   &:hover{
      background-color: #DAE4ED;
   }
}

.menu-profile ul li a{
   height: 100%;
}

.menu-profile ul li a div{
   height: 100%;
   padding-left: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 54px;
   color: #070C11;
}

.menu-profile__exit{
   padding-left: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 54px;
   color: #F15152;
   border-top: 1px solid #EAEAF0;
}

.menu-profile__enter{
   padding-left: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 54px;
   color: #4878A6;
   border-top: 1px solid #EAEAF0;
}

.menu-profile__enter__active{
   display: none;
}


@media (max-width:1200px) {
   .header__about, .header__search, .header__cart{
      display: none;
   }
}

@media (max-width:576px) {
   .wrapper{
      padding: 0 10px;
   }
   .header__eye, .header__like, .header__compare{
      display: none;
   }
   .header__inputs{
      margin-left: 0;
   }
   .header__enter{
      margin-left: 0px;
   }
}



////////////////MENU/////////////////////
menu{
   width: 100%;
   height: 60px;
   background-color: #0E1821;
   position: relative;
   z-index: 3;
}

.menu__wrapper{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
   height: 100%;
}

.menu__container{
   display: flex;
   align-items: center;
   justify-content: left;
   height: 100%;
}

.menu__catalog{
   display: flex;
   align-items: center;
   justify-content: left;
   cursor: pointer;
   height: 100%;
   width: 300px;
   padding: 0 20px;
   transition: all 0.2s ease-out;
   &:hover{
      background-color: #243C53;
   }
}

.catalog__name{
   color: #FFF;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   margin-left: 10px;
}

.menu__nav{
   height: 100%;
}

.menu__nav ul{
   display: flex;
   align-items: center;
   justify-content: left;
   height: 100%;
}

.menu__nav ul li{
   padding: 0 20px;
   cursor: pointer;
   height: 100%;
   transition: all 0.2s ease-out;
   &:hover{
      background-color: #243C53;
   }
}

.menu__nav ul li a{
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   line-height: 60px;
   height: 100%;
}



@media (max-width:1200px) {
   menu{
      display: none;
   }
}


.catalog__wrapper{
   width: 100%;
   height: 100%;
   position:fixed;
   z-index: 2;
   top: -100%;
   transition: top 0.2s ease-out;
}

.catalog__wrapper_active{   
   top: 0;
}

.catalog{
   width: 300px;
   background-color: #EDF2F6;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   position:absolute;
   top: 140px;
   z-index: 2;
   display: none;
}

.catalog_active{
   display: block;
}

@media (max-width:1200px){
   .catalog__wrapper{
      background: #4878A6;
      z-index: 5; 
   }

   .catalog{
      margin: 27px 20px 60px 20px;
      width: calc(100% - 40px);
      height: calc(100vh - 87px);
      top: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      z-index: 6;
   }

   .catalog__item{
      width: 50%;
   }
}

@media (max-width:576px){
      .catalog{
         margin: 27px 0 64px 0;
         width: 100%;
         height: calc(100vh - 87px);
         top: 0;
         border-top-left-radius: 8px;
         border-top-right-radius: 8px;
         z-index: 6;
      }
   
      .catalog__item{
         width: 100%;
      }
   }


.catalog__item{
   padding-left: 18px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: left;
   width: 100%;
   height: 48px;
   transition: background-color 0.2s ease-out;
   &:hover{
      background-color: #DAE4ED;
   }
}

.catalog__item img{
   width: 32px;
   height: 32px;
   object-fit: scale-down;
}

.catalog__item div{
   margin-left: 10px;
   font-weight: 500;
   font-size: 16px;
   color: #070C11;
}

.menu-mobile{
   display: none;
   align-items: center;
   justify-content: center;
   height: 64px;
   width: 100vw;
   background-color: #2A5275;
   position: fixed;
   z-index: 10;
   bottom: 0;
}

.menu-mobile__item{
   width: 64px;
   height: 64px;
   margin: 0 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
}




.menu-mobile__item img{
   width: 24px;
   height: 24px;
}

.menu-mobile__item p{
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   color: #FFFFFF;
}

@media (max-width:1200px) {
   .menu-mobile{
      display: flex;
   }
}

@media (max-width:576px) {
   .menu-mobile__item{
      margin: 0;
   }
}

.menu-mobile__catalog_active{
   transition: all 0.2s ease-in-out;
   background-color: #4878A6;
}

.menu-else {
   padding: 0 50px;
   display: none;
   background-color: #EDF2F6;
   height: 100%;
   margin: 27px 20px 64px 20px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

@media (max-width:576px){
   .menu-else {
      margin: 27px 0 64px 0;
   }   
 }

.menu-else_active{
   display: block;
}



.menu-else__title {
   margin-bottom: 40px;
   padding-top: 50px;
   font-weight: 700;
   font-size: 28px;
   line-height: 130%;
   color: #070C11;
}
.menu-else__item {
   display: block;
   height: 46px;
   border-bottom: 1px #C8CACB solid;
   &:hover{
      background-color: #DAE4ED;
   }
}

.menu-else__item div{
   font-weight: 500;
   font-size: 16px;
   color: #070C11;
   line-height: 46px;
}

.menu-search {
   padding: 0 50px;
   display: none;
   background-color: #EDF2F6;
   height: 100%;
   margin: 27px 20px 64px 20px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

@media (max-width:576px){
   .menu-search {
      margin: 27px 0px 64px 0px;

   }
}

.menu-search_active{
   display: block;
}

.menu-search__search{
   width: 100%;
   height: 48px;
   border: 1px #4878A6 solid;
   border-radius: 4px;
   padding-left: 20px;
   padding-right: 20px;
   font-family: Inter;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #0E1821;
   &::placeholder{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #838688;
   }
}

@media (max-width:576px){
   .menu-search__search{
      &::placeholder{
         width: 125px;
      }
   }
}

.menu-else__buttons{
   margin-top: 50px;
   display: flex;
   justify-content:space-around;
}



.hero{
   margin-top: 20px;
   z-index: 1;
   position: relative;
   width: 100%;
}

.hero__slide{
   display: grid;
}

.hero__slide img{
   grid-row: 1/2;
   grid-column: 1/2;
   width: 100%;
   aspect-ratio: 16/9;
   border-radius: 8px;
   object-fit: cover;
   object-position: center;
}

.hero__text{
   grid-row: 1/2;
   grid-column: 1/2;
   width: 400px;
   margin-top: 10%;
   margin-left: 10%;
}

.hero__title{
   font-weight: 700;
   font-size: 64px;
   line-height: 130%;
   color: #FFFFFF;
}

.hero__subtext{
   font-weight: 500;
   font-size: 32px;
   line-height: 130%;
   color: #FFFFFF;
   margin-top: 10px;
}


.swiper-pagination-bullet{
   width: 22%;
   height: 3px;
   background-color: #C8CACB;
   border-radius: 2px;
}

@media (max-width:768px){
   .hero__text{
      width: 230px;
   }
   .hero__title{
      font-size: 36px;
   }
   
   .hero__subtext{
      margin-top: 0;
      font-size: 24px;
   }   
}

@media (max-width:320px){
   .hero__text{
      width: 130px;
   }
   .hero__title{
      font-size: 20px;
   }
   
   .hero__subtext{
      font-size: 16px;
   }   
}


//////////////////HITS///////////////

.hits {
   margin-top: 80px;
}

.component-title-filter {
   display: flex;
   align-items:baseline;
   justify-content: left;
}


.component-title-filter h3{
   font-weight: 700;
   font-size: 36px;
   color: #070C11;
}




.component-title-filter a{
   font-weight: 500;
   font-size: 16px;   
   color: #2A5275;
   margin-left: 30px;
   &:hover{
      color: #070C11;
   }
   .component-title-filter_icon{
      padding-left: 5px;
      font-size: 18px;
   }
}

.ad__news_filter{
   font-weight: 500;
   font-size: 16px;   
   color: #2A5275; 
   &:hover{
      color: #070C11;
   }
   .component-title-filter_icon{
      padding-left: 5px;
      font-size: 18px;
   }
}

@media (max-width:576px){
   .component-title-filter {
      margin-left: 20px;
   }
   .component-title-filter h3{
      font-size: 24px;
   }
   .component-title-filter a{
      margin-left: 23px;
   }
   .ad__news_filter{
      margin-left: 0;
   }
}

.hits__cards{
   margin-top: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

@media (max-width:687px){
   .hits__cards{
      justify-content: center;
   }
   
   .hits__cards .card + .card{
      margin-top: 20px;
   }
}

.card{
   max-width: 324px;
   border: #EAEAF0 1px solid;
   border-radius: 8px;
   transition: box-shadow 0.2s ease-in-out;
   &:hover{
      box-shadow: 0px 0px 15px 1px #2A5275;
   }
}

.card__top{
   position: relative;
}

.card__img{
   margin: 20px 20px 10px 20px;

}

.card__top-buttons{
   position: absolute;
   left: auto;
   right: 10px;
   top: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.card__button-new{
   margin-top: 10px;
   background-color: #48A69B;
   padding: 5px 16px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   color: #EDF2F6;
}

.card__button-hit{
   margin-top: 10px;
   background-color: #D73838;
   padding: 5px 16px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   color: #EDF2F6;
}

.card__wrapper{
   padding: 0 20px 20px 20px;
}

.card__category{
   font-weight: 500;
   font-size: 16px;
   line-height: 130%;
   color: #838688;
}

.card__name{
   font-weight: 400;
   font-size: 20px;
   line-height: 130%;
   color: #070C11;
   margin-top: 10px;
}

.card__likes{
   margin-top: 20px;
   display: flex;
}

.card__likes_ques{
   margin-left: 10px;
   width: 24px;
   height: 24px;
}

.card__count{
   margin-left: 5px;
}

.card__prices{
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
}

.prices__right{
   display: flex;
}

.like{
   width: 48px;
   height: 48px;
   background-image: url('../images/dest/icons/like_in_card.svg');
   transition: all 0.2s ease;
   cursor: pointer;
}

.like_active{
   background-image: url('../images/dest/icons/like_in_card_active.svg');
}

.compare{
   width: 52px;
   height: 48px;
   background-image: url('../images/dest/icons/compare3.png');
   cursor: pointer;
   transition: all 0.2s ease;
}

.compare_active{
   background-image: url('../images/dest/icons/compare_in_card_active.svg');
}

.card__old-price{
   font-weight: 700;
   font-size: 16px;
   line-height: 130%;
   text-decoration-line: line-through;
   color: #838688;
}

.card__new-price{
   font-weight: 700;
   font-size: 24px;
   line-height: 130%;
   color: #070C11;
}

.card__sale{
   background: #F37748;
   border-radius: 14px;
   padding: 3px 5px;
   display: flex;
   margin-top: 5px;
}
.card__procent{
   background-color: #fff;
   border-radius: 9px;
   padding: 0 4px;
   font-weight: 400;
   font-size: 14px;
   line-height: 130%;
   color: #070C11;
}

.card__sale-rubles{
   font-weight: 700;
   font-size: 14px;
   line-height: 130%;
   color: #FFFFFF;
   margin-left: 5px;
}

.card__buy{
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card__one-click{
   font-weight: 700;
   font-size: 16px;
   line-height: 126%;
   color: #4878A6;
   border: #4878A6 1px solid;
   border-radius: 4px;
   width: 228px;
   padding: 13px 0;
   text-align: center;
   transition: transform 0.1s ease-in-out;
   &:hover{
      transform: scale(1.04);
   }
}

.card__buy-icon{
   width: 48px;
   height: 48px;
   background-image: url('../images/dest/icons/basket/cart_in_card.svg');
   transition: all 0.2s ease-in-out;
   &:hover{
      background-image: url('../images/dest/icons/basket/cart_in_card_hover.svg');
   }
}

.ads {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   margin-bottom: -20px;
}

.ad {
   flex:0 1 49%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 180px;
   background: #EDF2F6;
   border-radius: 8px;
   padding: 50px 30px 50px 50px;
   margin: 10px 0;
}

.ad__text {
   font-weight: 700;
   font-size: 28px;
   line-height: 120%;
   color: #070C11;
   width: 38%;
}
.ad__img {
   height: 160px;
   width: 160px;
   object-fit:contain;
   object-position: center;
}

@media (max-width:800px){
   .ads{
      flex-direction: column;
   }
   .ad {
      width: 100%;
      flex: 1 0 180px;
   }
}
@media (max-width:576px){
   .ad{
      height: 160px;
   }
   .ad__text {
      font-size: 16px;
      width: 45%;
   }

   .ad__img {
      height: 150px;
   }
}


.modal{
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;top: 0;bottom: 0;right: 0;
   z-index: 99;
   transition: ease all 0.3s;
   transform: translateY(150%);
}

.modal_active{
   transform: translateY(0%);
}

.modal__overlay{
   width: 100%;
   height: 100%;
   background: rgba(#2A5275, 0.7);
   display: flex;
   align-items: center;
   justify-content: center;
}

.modal__window{
   width: 370px;
   background-color: #fff;
   border-radius: 8px;
}


@media (max-width:576px){
   .modal__overlay{
      align-items: flex-end;
   }

   .modal__window{
      width: 100%;
      min-height: 85%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }
}

.modal__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #EDF2F6;
   height: 68px;
   padding: 0 30px 0 30px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.modal__title{
   font-weight: 600;
   font-size: 24px;
   line-height: 120%;
   color: #070C11;
}

.modal__icon-close{
   cursor: pointer;
}

.modal__wrapper{
   padding: 20px 30px 30px 30px;
   background-color: #fff;
}
.modal__name-input{
   font-weight: 400;
   font-size: 16px;
}

.modal__input-email{
   width: 100%;
   height: 48px;
   border: 1px solid #EAEAF0;
   border-radius: 5px;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   padding-left: 20px;
}
.modal__passord{
   position: relative;
}

.modal__input-password{
   width: 100%;
   height: 48px;
   border: 1px solid #EAEAF0;
   border-radius: 5px;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   padding-left: 30px;
   background: url('../images/dest/icons/lock.svg') no-repeat 3px 1px;
   background-size: auto 60%;
   background-position: center left;
}

.modal__password_eye{
   position: absolute;
   right: 10px;
   top: 20px;
   width: 32px;
   height: 32px;
   background: url('../images/dest/icons/eye.svg') no-repeat;
   background-size: auto 90%;
   background-position: center;
   cursor: pointer;
   transition: all 0.1s ease-in-out;
}

.modal__password_eye_off{
   background: url('../images/dest/icons/eye-off.svg') no-repeat;
   background-size: auto 90%;
}

.mt8{
   margin-top: 8px;
}

.mt20{
   margin-top: 20px;
}
.mt10{
   margin-top: 10px;
}

.modal__forgot{
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   color: #4878A6;
   display:inline-block
}

.check__label{
   background:url('../images/dest/icons/check.svg') no-repeat;
   cursor: pointer;
}
.check__label_unactive{
   background:url('../images/dest/icons/uncheck.svg') no-repeat;
}

.check__label span{
   display: inline-block;
	position: relative; 
	padding: 0 0 0 35px; 
}

.modal__button_enter{
   background: #2A5275;
   width: 100%;
   height: 48px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 48px;
   color: #FFFFFF;
   text-align: center;
   transition: all 0.2s ease-in-out;
   &:hover{
      transform: scale(1.02);
   }
}

.modal__sign-enter{
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   color: #4878A6;
   text-align: center;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   &:hover{
      transform: scale(1.02);
   }
}

.modal__user-agreement{
   font-weight: 500;
   font-size: 14px;
   line-height: 130%;
   a{
      color: #2A5275;
   }
}

.ad__news{
   display: block;
   height: min-content;
   padding: 30px 50px;
}

.ad__news_text{
   font-weight: 400;
   font-size: 16px;
   line-height: 120%
}

.ad__news_title{
   font-weight: 700;
   font-size: 28px;
   line-height: 120%;
}

.ad__news_footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.ad__news-data{
   font-weight: 500;
   font-size: 16px;
   line-height: 120%;
   color: #838688;
}

@media (max-width:576px){
   .ad__news-data{
      display: none;
   }
}

.footer{
   background-color: #EDF2F6;
   margin-top: 80px;
   padding: 40px 0;
}

.footer__content{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 10px;
}

@media (max-width:1200px){
   .footer__content{
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 60px;
   }
}

@media (max-width:576px){
   .footer__content{
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
   }
}

.footer__maxWidth-column{
   max-width: 244px;
}

.footer__logo{
   width: 184px;
   height: 60px;
   object-fit: contain;
   object-position: center;
}

.footer__tel{
   display: block;
   font-weight: 600;
   font-size: 20px;
   color: $color_text;
}

.footer__schedular{
   font-weight: 400;
   font-size: 16px; 
   color: #838688;
}

.footer__address{
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
}

.footer__title{
   font-weight: 600;
   font-size: 20px;
   color: #838688;
}

.footer__nav ul li a{
   font-weight: 400;
   font-size: 16px;
   color: $color_text;
}

.footer__line{
   margin-top: 40px;
   width: 100%;
   height: 1px;
   background: #C8CACB;
}

.footer__sub-footer{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "rights icons designer";
}

.footer__rights{
   font-weight: 400;
   font-size: 16px;
   color: #838688;
   grid-area: rights;
}

.footer__designer{
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 12px;
   color: #838688;
   justify-self: right;
   grid-area: designer;
}

.footer__icons{
   display: flex;
   width: 192px;
   align-items: center;
   justify-content: space-between;
   justify-self: center;
   grid-area: icons;
}

.footer__icons i{
   color: #4878A6;
   &:hover{
      color: #2A5275;
   }
}

@media (max-width:1200px){
   .footer__sub-footer{ 
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "rights icons"
                           "designer icons";
   }
   .footer__designer{
      justify-self: left;
      padding-top: 3px;
   }
   .footer__sub-footer{
      margin-bottom: 64px;
   }
   .footer__icons{
      justify-self: right;
   }
}

@media (max-width:576px){
   .footer__sub-footer{ 
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "icons"
                           "rights"
                           "designer";
   }
   .footer__designer{
      justify-self: left;
      padding-top: 3px;
   }
   .footer__rights{
      margin-top: 20px;
   }
   .footer__icons{
      justify-self: left;
   }
}

.menu-back{
   margin-top: 40px;
}

.menu-back__nav a{
   font-weight: 400;
   font-size: 16px;
   color: $color_text;
   padding-right: 15px;
}

.menu-back__nav i{
   font-weight: 400;
   font-size: 16px;
   color: $color_text;
}

.menu-back__nav span{
   font-weight: 400;
   font-size: 16px;
   color: #838688;
   padding-left: 15px;
}

.page-main{
   margin-top: 40px;
   max-width: 975px;
   margin-left: 0;
}

.page-main__title{
   font-weight: 700;
   font-size: 36px;
   line-height: 130%;
}

.main__p{
   font-weight: 400;
   font-size: 16px;
   line-height: 130%;
   margin-top: 30px;
}

.main__h{
   font-weight: 600;
   font-size: 24px;
   line-height: 120%;
   margin-top: 40px;
}

.page-about__change{
   margin-top: 40px;
   background-color: #EDF2F6;
   padding: 10px 0 40px 0;
}

.page-about__change-items{
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 105px;
}

.page-about__change-item{
   display: flex;
   align-items: center;
   font-weight: 400;
   font-size: 20px;
}

.page-about__change-item img{
   width: 48px;
   height: 48px;
   object-fit: contain;
   object-position: center;
   margin-right: 10px;
}

.main__h a{
   font-weight: 700;
   font-size: 28px;
   line-height: 120%;
   color: #4878A6;
   word-wrap: break-word;
}