@import "nullstyle";
@import "variables";

body{
   font-family: Exo2;
   font-weight: 400;
   font-size: 20px;
   background-color: $color_background;
   color: $color_text;
   line-height: 100%;
}

a{
   font-family: Exo2;
}

.wrapper{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
   position: relative;
}


//////////////////HEADER/////////////////////////


.header{
   background-color: $color_background;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 5;
}

.header__about{
   display: flex;
   align-items: center;
}

.header__about div + div{
   margin-left: 20px;
}

.header__about a{
   font-weight: 500;
   font-size: 16px;
   color: $color_text;
}

.header__schedule{
   font-weight: 500;
   font-size: 16px;
   color: $grey_text;
}

.header__inputs{
   margin-left: 58px;
   display: flex;
   align-items: center;
   justify-content: right;
}

.header__search{
   height: 42px;
   width: 107px;
   border-bottom: 1px solid #C8CACB;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-right: 8px;
}

.header__search_input{
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #838688;
   width: 100%;
   padding: 5px 5px 5px 36px;
   margin-left: 12px;
   height: 20px;
   background: url('../images/dest/icons/search.svg') no-repeat 3px 1px;
   background-size: auto 100%;
   transition: padding 0.2s ease-out;
   &:focus{
      padding: 0;
      background: none;
      margin-left: 0px;
   }
}

.header__menu{
   display: flex;
   align-items: center;
   justify-content: right;
}

.header__click{
   cursor: pointer;
   width: 48px;
   height: 48px;
   object-fit: scale-down;
}

.header__button{
   background-color: #2A5275;
   color: #FFF;
   border-radius: 4px;
   padding: 0 26px;
   height: 48px;
   font-weight: 500;
   font-size: 16px;
   line-height: 48px;
   cursor: pointer;
   transition: background-color 0.3s ease-out;
   &:hover{
      background-color: #0E1821;
   }
}

.header__enter{
   margin-left: 20px;
}

.menu-profile{
   width: 280px;
   border: 1px solid #EAEAF0;
   background-color: #fff;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   position:absolute;
   left: auto;
   right: 20px;
   transform: translate(0, -100%);
   transition: transform 0.3s ease-out;
   z-index: 4;
}

.menu-profile_active{
   transform: translate(0, 0%);
}

.menu-profile ul{
   width: 100%;
}

.menu-profile ul li{
   height: 54px;
   transition: background-color 0.2s ease-out;
   &:hover{
      background-color: #DAE4ED;
   }
}

.menu-profile ul li a{
   height: 100%;
}

.menu-profile ul li a div{
   height: 100%;
   padding-left: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 54px;
   color: #070C11;
}

.menu-profile__exit{
   padding-left: 20px;
   font-weight: 500;
   font-size: 16px;
   line-height: 54px;
   color: #F15152;
   border-top: 1px solid #EAEAF0;
}


@media (max-width:1200px) {
   .header__about, .header__search, .header__cart{
      display: none;
   }
}

@media (max-width:576px) {
   .wrapper{
      padding: 0 10px;
   }
   .header__eye, .header__like, .header__compare{
      display: none;
   }
   .header__inputs{
      margin-left: 0;
   }
   .header__enter{
      margin-left: 0px;
   }
}



////////////////MENU/////////////////////
menu{
   width: 100%;
   height: 60px;
   background-color: #0E1821;
   position: relative;
   z-index: 3;
}

.menu__wrapper{
   max-width: 1340px;
   margin: 0 auto;
   padding: 0 20px;
   height: 100%;
}

.menu__container{
   display: flex;
   align-items: center;
   justify-content: left;
   height: 100%;
}

.menu__catalog{
   display: flex;
   align-items: center;
   justify-content: left;
   cursor: pointer;
   height: 100%;
   width: 300px;
   padding: 0 20px;
   transition: all 0.2s ease-out;
   &:hover{
      background-color: #243C53;
   }
}

.catalog__name{
   color: #FFF;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   margin-left: 10px;
}

.menu__nav{
   height: 100%;
}

.menu__nav ul{
   display: flex;
   align-items: center;
   justify-content: left;
   height: 100%;
}

.menu__nav ul li{
   padding: 0 20px;
   cursor: pointer;
   height: 100%;
   transition: all 0.2s ease-out;
   &:hover{
      background-color: #243C53;
   }
}

.menu__nav ul li a{
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   line-height: 60px;
   height: 100%;
}



@media (max-width:1200px) {
   menu{
      display: none;
   }
}


.catalog__wrapper{
   width: 100%;
   height: 100%;
   position:absolute;
   z-index: 2;
   top: -100%;
   transition: top 0.5s ease-out;
}

.catalog__wrapper_active{
   top: 0;
}

.catalog{
   width: 300px;
   background-color: #EDF2F6;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   position:absolute;
   top: 140px;
   z-index: 2;
}


.catalog__item{
   padding-left: 18px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: left;
   width: 100%;
   height: 48px;
   transition: background-color 0.2s ease-out;
   &:hover{
      background-color: #DAE4ED;
   }
}

.catalog__item img{
   width: 32px;
   height: 32px;
   object-fit: scale-down;
}

.catalog__item div{
   margin-left: 10px;
   font-weight: 500;
   font-size: 16px;
   color: #070C11;
}

.menu-mobile{
   display: none;
   align-items: center;
   justify-content: center;
   height: 64px;
   width: 100vw;
   background-color: #2A5275;
   position: fixed;
   top: calc(100vh - 64px);
}

.menu-mobile__item{
   width: 64px;
   height: 64px;
   margin: 0 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
}

.menu-mobile__item img{
   width: 24px;
   height: 24px;
}

.menu-mobile__item p{
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   color: #FFFFFF;
}

@media (max-width:1200px) {
   .menu-mobile{
      display: flex;
   }
}

@media (max-width:576px) {
   .menu-mobile__item{
      margin: 0;

   }
}

.hero{
   margin-top: 20px;
   z-index: 1;
   position: relative;
   width: 100%;
}

.hero__slide{
   display: grid;
}

.hero__slide img{
   grid-row: 1/2;
   grid-column: 1/2;
   width: 100%;
   aspect-ratio: 16/9;
   border-radius: 8px;
   object-fit: cover;
   object-position: center;
}

.hero__text{
   grid-row: 1/2;
   grid-column: 1/2;
   width: 400px;
   margin-top: 10%;
   margin-left: 10%;
}

.hero__title{
   font-weight: 700;
   font-size: 64px;
   line-height: 130%;
   color: #FFFFFF;
}

.hero__subtext{
   font-weight: 500;
   font-size: 32px;
   line-height: 130%;
   color: #FFFFFF;
   margin-top: 10px;
}


.swiper-pagination-bullet{
   width: 22%;
   height: 3px;
   background-color: #C8CACB;
   border-radius: 2px;
}

@media (max-width:768px){
   .hero__text{
      width: 230px;
   }
   .hero__title{
      font-size: 36px;
   }
   
   .hero__subtext{
      margin-top: 0;
      font-size: 24px;
   }   
}

@media (max-width:320px){
   .hero__text{
      width: 130px;
   }
   .hero__title{
      font-size: 20px;
   }
   
   .hero__subtext{
      font-size: 16px;
   }   
}